/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: "rockwell";
    src: url("../fonts/rockwell.ttf") format('truetype');
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathu405.ttf") format('truetype');
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathuBold405.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathuBoldItalic405.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "new_athena_unicode";
    src: url("../fonts/newathuItalic405.ttf") format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Bold.otf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-BoldItalic.otf") format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Italic.otf") format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Light.otf") format('opentype');
    font-weight: lighter;
}


/***Start Styel****/
body {
    background-color: #ffffff;

}

.wrapper {
    width: 100%;
}

#pbcn-logo {
    font-family: "rockwell";
    font-weight: bold;
    font-size: 36px;
    color: #1d1934;
    float: left;
    width: 40%;
}

h1, h2 {
    font-family: 'new_athena_unicode';
}

h3 {
    font-family: 'Quicksand' !important;
}

a {
    text-decoration: none;
    color: #000;
}



nav {  
    height: 40px;  
    width: 60%;  
    background: #ffffff;  
    font-size: 17.97pt;  
    font-family: 'Quicksand';  
    font-weight: bold;  
    position: relative;  
    float: right;
} 

nav ul {  
    padding: 0;  
    margin: 0 auto;  
    width: 100%;  
    height: 40px;  
}  

nav li {  
    display: inline;  
    float: left;  
    padding-right: 15px;
    padding-top: 5px;
    font-weight: lighter;
}  

nav li a {   
    font-size: 24px;
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
    border-right: 0;  
}  

nav a:hover, nav a:active {  
    text-decoration: underline;
}  

.container-content {     
    width: 1024px;
    margin: 0px auto;

}
article.banner-content {
    width: 450px;   
    position: relative;    
    top: 180px;
    right: 100px;
}
article.girl-model{
    width: 552px;
    float: right;
    padding-left: 15px;
}
.second-content {
    background-color: #392759;
}

.banner-header {
    width: 640px;
    margin: 0 auto;
    padding-top: 20px;
}
.banner-header span.header {
    float: right;
    line-height: 1.4%;
    color: #fff;
}

.banner-header span.ribbon-logo {
    float: left;
}

@-webkit-keyframes animatebutton {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px); 
    }
}
@-moz-keyframes animatebutton {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px); 
    }
}
@-o-keyframes animatebutton {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px); 
    }
}
@keyframes animatebutton {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px); 
    }
}

#learn-why {
    display: block;
    margin-top: 100px;

    -webkit-animation: animatebutton 2s infinite; /* Safari 4+ */
      -moz-animation:    animatebutton 2s infinite; /* Fx 5+ */
      -o-animation:      animatebutton 2s infinite; /* Opera 12+ */
      animation:         animatebutton 2s infinite; /* IE 10+ */
}

#learn-why:hover {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
}

span.header h2 {
        font-size: 35pt;
}

span.header h1 {
     font-size: 55pt;
}
.fact-list {
    width: 850px;
    margin: 0 auto;
    color: #ffffff;

}

.fact-message {
    font-family: "Quicksand";
    font-weight: lighter;
}

.fact-odd {
    width: 400px;
    float: left;
    margin-left: 25px;
    margin-bottom: -10px;
}

.fact-even {
    width: 400px;
    float: right;
    margin-bottom: -10px;
}

.fact-odd h3 {
    margin-bottom: -12px;
}

.fact-even h3 {
    margin-bottom: -12px;
}

.what-button {
    width: 302px;
    margin: 0 auto;
    height: 90px;
    padding-top: 50px;

    -webkit-animation: animatebutton 2s infinite; /* Safari 4+ */
      -moz-animation:    animatebutton 2s infinite; /* Fx 5+ */
      -o-animation:      animatebutton 2s infinite; /* Opera 12+ */
      animation:         animatebutton 2s infinite; /* IE 10+ */
}

.division {
    width: 100%;    
}
.second {
    background-color: #392759;
}

.third {
    background-color: #76687f;
}

.at-third {
    line-height: 100%;
    font-size: 15pt;
    color: #d9d6db;
    text-align: center;
    width: 650px;
}

.third-content {
    padding-bottom: 100px;
}

.third-content > .banner-header{
    margin-bottom: 90px;    
}
.content-holder {
    width: 980px;
    margin: 0px auto;
 
}
article.share-us {
    margin-bottom: 15px;
    width: 130px;
}

article.stories {
    float: right;
    margin-right: 30px;
}
.banner-quote {
    width: 800px;
    height: 216px;
    background: url('../img/breast-quote.png')no-repeat;
}
.first-content {
    height: 650px;
    background: url('../img/girl-model1.png') no-repeat;
    background-position: right bottom;
    width: 1280px;
}
#first-center {
    margin-left: 240px;
}
.banner-message {
    font-size: 12pt;
    width: 670px;
    position: relative;
    bottom: 34px;
    left: 50px;
}

.at-third h1 {
    font-weight: lighter; 
}

.at-third h1 span {
    font-weight: bold;
}


/*** ABOUT PAGE ***/

.container-content .org-about {
    width: 860px;
    margin: 0 auto;
    padding-bottom: 75px; 
}

.container-content .org-about .about-text {
    margin-top: 30px;
    font-family: 'Quicksand';
    font-weight: lighter;
    

}
.container-content .org-about p {
    color: #ffffff;
    text-align: justify;
}

.banner-advocates {
    margin-top: -40px;

}
.header-advocates {
    width: 850px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 18px;
}

 .header-advocates h2 {
    text-align: center;
    font-size: 35pt;
    line-height: 20%;
    color:#1f173f;
    font-family: 'new_athena_unicode';
    font-weight: lighter;
}

.header-advocates h2 span {
    font-weight: bold;
}
.org-about {
    width: 450px;
}
.org-about .advocates-text p {
    color: #392759;
    font-family: 'Quicksand';
    font-weight: lighter;

}

.second-about {
    background-color: #cb84ff
}

.advocates {
    margin: 0 auto;
}

.milestone {
    background-color: #76687f;
}

.milestone-container {
    padding-top: 15px;
    height: 180px;
}

.milestone-container h2 {
    color: #d9d6db;
}

.milestone-content {
    margin-bottom: 20px;
    width: 1100px;
}
.milestone-img {
    width: 248px;
    height: 189px;
    display: inline-block;
}
.milestone-img img {
    width: 100%;
    height: 100%;
}
.milestone-msg {
    width: 830px;
    margin-top: -23px;
    float: right;
    display: inline-block;
    font-family: 'Quicksand';
    font-weight: lighter;
}

.milestone-msg h4 ,p  {
    color: #d9d6db;
    text-align: justify;
}

footer {
    background-color: #1f173f;
    height: 50px;
}

footer span#pbcn-rights {
    color: #fff;
    line-height: 100%;
    letter-spacing: 2px;
    padding-top: 4px;
    float: left;
    width: 500px;
}

.content-footer {
    width: 1024px;
    margin: 0 auto;
}
footer span#webnified {
    float: right;
    width: 500px;
    letter-spacing: 5px;
    padding-left: 15px;
    line-height: 150%;
    height: 50px;

}

#webnified p {
   text-align: right;
   padding-top: -10px;
}

footer span#webnified a {
    color: #119eff;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
